.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: var(--marquee-item-height);
  margin-block: var(--marquee-item-height);
  position: relative;
  width: 100%;
  margin: 16px !important;
  height: 150px;
  /* Mascaramento suave nas bordas */
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  overflow: hidden; /* Garante que nada escape do container */
}

.marquee--8 {
  --marquee-item-width: 250px;
  --marquee-item-height: 100px;
  --marquee-duration: 36s;
}

@media (max-width: 700px) {
  .marquee--8 {
    --marquee-item-width: 150px;
    --marquee-item-height: 80px;
  }
}

.marquee__item {
  width: var(--marquee-item-width);
  height: var(--marquee-item-height);
  position: absolute;
  
  --marquee-item-offset: max(
    calc(var(--marquee-item-width) * var(--marquee-items)),
    calc(100% + var(--marquee-item-width))
  );
  --marquee-delay: calc(
    var(--marquee-duration) / var(--marquee-items) *
    (var(--marquee-items) - var(--marquee-item-index)) * -1
  );

  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  will-change: inset-inline-start; /* Otimização de GPU */
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}

.paused { animation-play-state: paused; }