# Database

#DATABASE_URL="postgres://postgres.jgzntyiygwniggfitdlz:Testando@2923@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
#DIRECT_URL="postgres://postgres.jgzntyiygwniggfitdlz:Testando@2923@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
# URL

#NEXT_PUBLIC_SITE_URL="https://includegurias.com.br"

DATABASE_URL="postgresql://localdev:localdev@localhost:5432/includeGuriaDB?schema=public"
DIRECT_URL="postgresql://localdev:localdev@localhost:5432/includeGuriaDB?schema=public"